/* background-color */
.red {
    background-color : red;
}

.green {
    background-color : green;
}

.blue {
    background-color : blue;
}

/* size */
.large-square {
    height : 256px;
    width  : 256px;
}

.medium-square {
    height : 128px;
    width  : 128px;
}

.small-square {
    height : 64px;
    width  : 64px;
}

.tiny-square {
    height      : 8px;
    width       : 8px;
    float       : left;
    margin-left : 4px;
    margin-top  : 4px;
}

.op {
    display : none;
}

.main:hover>.op {
    display : block;
}

/*div.main + .op {*/
/*background: black !important;*/
/*}*/

.main:hover~.op {
    display : none;
}

/*.main:hover+.main+.op {*/
/*opacity : 0;*/
/*}*/

.op {
    z-index : 1;
}

.main {
    z-index : 2;
}

.drag {
    display : block !important;
}

/* position */
.static {
    position : static;
}

.relative {
    position : relative
}

.absolute {
    position : absolute;
}

.fixed {
    position : fixed;
}

/* corner */
.left-top {
    left : 0;
    top  : 0;
}

.left-bottom {
    left   : 0;
    bottom : 0;
}

.right-top {
    right : 0;
    top   : 0;
}

.right-bottom {
    right  : 0;
    bottom : 0;
}

.hidden {
    overflow : hidden;
}
